@model RentalPad.Models.Rooms_reg

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Rooms_reg</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rental_reg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rental_reg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Room_number">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
