@model IEnumerable<RentalPad.Models.Rentals_reg>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.National_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.R_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.R_location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_rooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.National_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R_location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_rooms)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
